@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'vant-icon';
    src: url(https://img.yzcdn.cn/vant/vant-icon-3a7dc2.woff2) format('woff2'), url(https://img.yzcdn.cn/vant/vant-icon-3a7dc2.woff) format('woff'), url(https://img.yzcdn.cn/vant/vant-icon-3a7dc2.ttf) format('truetype')
}

.van-icon {
    position: relative;
    font: 14px/1 "vant-icon";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}
.contact{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.header {
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    position: relative;
}
.setting {
    display: inline-block;
    margin-left: 12px;
    margin-top: 12px;
}
.options {
    position: absolute;
    top: 40px;
    width: 130px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.option {
    width: 100%;
    padding: 7px 8px;
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
}
.username {
    position: relative;
    top: -5px;
}
.content {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}
.userlist {
    border-right: 1px solid #d6dce0;
    width: 300px;
    height: 100%;
    float: left;
}
.messagebox {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
}
.van-tabs__nav {
    background: #000;
    color: #fff;
}
.van-tabs__line {
    background: #00ba6e;
    width: 122px !important;
    height: 2px;
    /* transform: translateX(0) translateX(0) !important; */
}
.van-tab {
    text-align: center;
    display: inline-block;
    width: 122px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
}
.van-tab::before {
    content: "\F02D";
    font: 20px/1 "vant-icon";
    vertical-align: text-top;
    margin-right: 5px;
}
.messagebox-header{
    border-bottom: 1px solid;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    transition: all .3s;
    padding: 0 16px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.messagebox-content {
    border-bottom: 1px solid;
    position: absolute;
    width: calc(100% - 300px);
    height: 500px;
    background:#fff;
    padding: 0 16px;
    overflow: scroll;
}
.messagebox-footer{
    position: absolute;
    width: calc(100% - 300px);
    height: 140px;
    background: #fff;
    margin-top:480px;
}
