.chat_func_box {
    position: relative;
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    line-height: 12px;

    .chat_func_icon {
        width: 25px;
        height: 25px;
    }

    .emojis_box {
        position: absolute;
        left: 15px;
        top: -180px;
        width: 330px;
        height: 150px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 15px 5px;

        .emoji {
            display: inline-block;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .loading_box {
        position: absolute;
        right: 5px;
        top: 0;
        width: 50px;
        height: 100%;
        font-size: 15px;
    }
}

/* loading svg大小调整 */
:deep(.circular) {
    margin-top: 8px;
    width: 25px;
    height: 25px;
}

.chat_content_editable {
    font-family: 'PingFang SC';
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    border: none;
    background: none;
    letter-spacing: 0.5px;
    resize: none;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 10px;
}

.no_content_send_btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    opacity: 0.5;
}

.chat_send_btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
}

.iconfont {
    margin-right: 12px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        color: #1b83f9;
    }
}

.record_box {
    width: 250px;
    height: 180px;
}
