@font-face {
  font-family: 'iconfont'; /* Project id  */
  src: url('iconfont.ttf?t=1715584073131') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31dianhua:before {
  content: '\f0203';
}

.icon-01:before {
  content: '\e610';
}

.icon-mingpian:before {
  content: '\e65d';
}

.icon-shipin:before {
  content: '\e656';
}

.icon-shipintonghua-hei:before {
  content: '\e6eb';
}

.icon-lajitong:before {
  content: '\e615';
}

.icon-icon_emoji:before {
  content: '\e60a';
}

.icon-wenjian:before {
  content: '\e69f';
}

.icon-tuku:before {
  content: '\e712';
}

.icon-kuaijiehuifu:before {
  content: '\e69b';
}
